html{
    font-family: 'Consolas', 'Monaco', monospace;
    background-color: #72787e;
    color: #ffffff;
    height: 100;
}

.container {
    height: 100vh;
    display:flex;
}

.main-container {
    height: 100%;
    width: calc(100% - 50px);
}

.side-container {
    height: 100%;
    width: 500px;
}

.side-item {
    height: 50%;
    width: 100%;
}


/* Tabs */
.tab {
    overflow: hidden;
    background-color: inherit;
}

.tab button {
    background-color: inherit;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #373944;
}

.tab button.active {
    background-color: #282a36;
}

.tabcontent {
    display: none;
    background-color: #282a36;
}